@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  color: #000 !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #000;
}

.brand {
  color: #999;
}
.brand .orange {
  color: #ef911e;
}
.brand .voilet {
  color: #662c8f;
}
.hero-headline {
  position: absolute;
  bottom: 50px;
}
.hero-headline h2 {
  font-size: 3rem;
  line-height: 3.1rem;
}
.hero-headline h3 {
  font-weight: normal;
}
.hero-headline h4 {
  text-transform: uppercase;
}

.navbar-brand img {
  width: 170px;
}
.navbar-nav a {
  text-transform: uppercase;
  font-weight: normal;
}

.hero .grid .scroll {
  position: absolute;
  bottom: 3.819vw;
  right: 3.819vw;
}

section.hero {
  width: 100vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid {
  width: 100%;
}
.works-slider {
  /* overflow: hidden; */
  width: 100%;
}
.works-container {
  display: flex;
  align-items: flex-start;
  will-change: transform;
}
.work-slide {
  flex: 0 0 auto;
  width: 22vw;
  margin-right: 20px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.img-box {
  width: 100%;
  height: 25vh;

  overflow: hidden; /* keeps zoom/rotate image inside rectangle */
  background: #222;
}
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transform-origin: center center;
}
.work-slide h5 {
  margin: 0 0 0;
  font-size: 16px;
  color: #000;
  /* hidden initial state */
  transform: translateY(50%) rotate(3deg);
  clip-path: inset(0% 0% 100% 0%);
}
